* {
  margin: 0px;
  padding: 0px;
}
.header {
  height: 60px;
  background-image: url(../../images/pexels-ivan-babydov-7787730.jpg);
  background-size: cover;
}

.LOGO {
  border-radius: 50%;
}

.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-links:link,
.navbar-links:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: aliceblue;
  gap: 30px;
  font-size: 20px;
  font-weight: 300px;
  transition: all 0.3s;
}

.website-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-style: italic;
}

.navbar-links:hover,
.navbar-links:active {
  color: aquamarine;
}

.mobile-navbar-btn {
  display: none;
  cursor: pointer;
  background: transparent;
}

.mobile-nav-icon {
  width: 100px;
  height: 100px;
}

.mobile-nav-icon[name="close-circle"] {
  display: none;
}

/* .fcolor {
    color: white;
    font-style: italic;
  } */

.navbar-nav a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .navbar-link:hover {
  color: #fff;
}
/* .w-100 {
  height: 100vh;
} */
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background-color: #fff;
}
@media only screen and(max-width:767px) {
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }
}
/* /////////////Event//////// */
.header1 {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}
.header1 .img-parent {
  position: relative;
}
.header1 img {
  height: 100vh;
  width: 100%;
}
.header1 .img-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  z-index: 1;
  opacity: 0.7;
}
.header1 .img-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff !important;
  text-align: center !important;
  justify-content: center !important;
}
.header1 .img-content h2 {
  font-weight: bold;
  font-style: italic;
  font-size: 60px;
  margin-bottom: 20px !important;
}
.header1 .img-content span {
  font-weight: 500;
  font-size: 20px;
  font-style: italic;
  letter-spacing: 0.2px;
}
.event {
  margin: 200px auto;
  width: 100% !important;
}
body{
  background-image: url(../../images/gradient2.jpg);
  background-size: cover;
}
.container{
  
  /* margin-top: 0 !important; */
  margin-left: 0 !important;
  margin-right: 0 !important;
  /* margin-bottom: 0 !important; */
 
}
.event-content {
  box-shadow: 10px 10px 10px -10px rgba(0, 0, 0, 0.3),
    inset 10px 10px 10px -10px rgba(0, 0, 0, 0.5);
  padding: 10px;
  cursor: pointer;
  background: #fff !important;
  margin-top: -30px !important;
  margin-left: 20px !important;
  position: absolute;
  width: 400px !important;
  height: 200px !important;
}
.event-content h4 {
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  margin-bottom: 5px;
}
.event-content span{
  font-style: italic;
  font-size: 15px;
 
}
.event-content a {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px !important;
}
.event img {
  transition: 0.6s;
}
.event img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.event .col-sm-5{
  margin-bottom: 200px !important;
}
/* <!-- ************************************************ --> */
/* <!-- /////////////Event-section start//////////// --> */
/* <!-- ***************************************************** --> */
.event {
  margin: 200px;
}

/* /////////////footer////////// */

footer {
  width: 100%;
  position: absolute;
  background-image: url(../../images/pexels-ivan-babydov-7787730.jpg);
  background-size: cover;
  color: white;
  padding: 80px 0px 30px;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

h4 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: whitesmoke;
}

i {
  color: white;
  font-weight: 100;
  font-weight: lighter;
}

i:hover {
  color: yellow;
}

@media screen and (max-width: 994px) {
  .navMobileMode {
    margin-top: -20px;
  }
}
