*{
  margin: 0px;
  padding: 0px;
}
.header {
  height: 60px;
  background-image: url(../../images/pexels-ivan-babydov-7787730.jpg);
  background-size: cover;
}

.LOGO {
  border-radius: 50%;
}

.navbar-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

.navbar-links:link,
.navbar-links:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: aliceblue;
  gap: 30px;
  font-size: 20px;
  font-weight: 300px;
  transition: all 0.3s;
}

.website-name {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  font-style: italic;
}

.navbar-links:hover,
.navbar-links:active {
  color: aquamarine;
}

.mobile-navbar-btn {
  display: none;
  cursor: pointer;
  background: transparent;
}

.mobile-nav-icon {
  width: 100px;
  height: 100px;
}

.mobile-nav-icon[name="close-circle"] {
  display: none;
}


.navbar-nav a {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 500;
 
}
body{
  background-image: url(../../images/gradient2.jpg);
  background-size: cover;
}
.navbar-light .navbar-brand {
  color: #fff;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .navbar-link:hover {
  color: #fff;
}
.w-100 {
  height: 100vh;
}
.navbar-toggler {
  padding: 1px 5px;
  font-size: 18px;
  line-height: 0.3;
  background-color: #fff;
}
@media only screen and(max-width:767px) {
  .navbar-nav {
    text-align: center;
    background: rgba(0, 0, 0, 0.5);
  }
}  

/* ////////////gallery////// */
/* body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: white;
} */
.containers {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1100px;
}
.containers .card {
  position: relative;
  width: 320px;
  height: 320px;
  margin: 15px;
  overflow: hidden;
}
.containers .card .imgbox,
.containers .card .contentbox {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.containers .card .imgbox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.containers .card .contentbox::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: skyblue;
  opacity: 0.7;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
  transition-delay: 0.5s;
}
.containers .card:hover .contentbox::before {
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
  transform-origin: left;
  transition-delay: 0s;
}
.containers .card .contentbox{
display: flex;
justify-content: center;
align-items: center;

}
.containers .card .contentbox .content{
  position: relative;
  padding: 30px;
  z-index: 1;
  transition: 0.5s;
  transform: translateX(-300px);
  transition-delay: 0s;
}
.containers .card:hover .contentbox .content{
  transform: translateX(0px);
  transition-delay: o.5s;
}
.containers .card .contentbox .content h3{

font-size: 1.3em;
text-transform: uppercase;
letter-spacing: 1px;
}
.containers .card .contentbox .content p{

  font-size: 18px;
  line-height: 1.4em;
  font-weight: 200px;
  font-family: 'Times New Roman', Times, serif;
  }

/* /////////////footer////////// */

footer {
  width: 100%;
  position: absolute;
  background-image: url(../../images/pexels-ivan-babydov-7787730.jpg);
  background-size: cover;
  color: white;
  padding: 80px 0px 30px;
}

.row {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.col {
  flex-basis: 25%;
  padding: 10px;
}

ul li {
  list-style: none;
}

ul li a {
  text-decoration: none;
  color: white;
}

h4 {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: whitesmoke;
}

i {
  color: white;
  font-weight: 100;
  font-weight: lighter;
}

i:hover {
  color: yellow;
}

@media screen and (max-width: 994px) {
  .navMobileMode {
    margin-top: -20px;
  }
}

  
  
  
  




